{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block body %}
    <h1>Region</h1>

    <table class="table" style="color: yellow;">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ region.name }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ region.presentation }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ region.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('region_index') }}">Retour à la liste</a>

    {% if app.user in admins %}
        <div style="text-align: center">
            <a href="{{ path('region_edit', {'id': region.id}) }}">Éditer</a>
            {{ include('region/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
